
/* zerando configuração de navegador */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* configuração de layout com grid  e plano de fundo */
body{
    background-image: url('/jon-butterworth-pxhKYRe_SSw-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-areas: 'header header header'
                          '. container .'  
                           'footer footer footer';
}

/* Estilo para o cabeçalho (header) */
header {
    grid-area: header;
    background-color: #333;
    color: #fff;
    padding: 20px 35px;
    display: flex;
    align-items: center;
    height: 12vh;

}

/* Estilo para a navegação (menu) */
nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

/* Estilo para os links no menu de navegação */
nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Estilo para o conteúdo principal */
main {
    grid-area: container;
    height: 78vh;
    width: 60vw;
}

/* Estilo para o rodapé (footer) */
footer {
    grid-area: footer;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    height: 10vh;

}

/* Estilo para botões */
.button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* Estilo para campos de formulário */
.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

/* Estilo para formulário de validação */
.error {
    color: red;
    font-size: 12px;
}

/* Outros estilos reutilizáveis */
.highlight {
    background-color: yellow;
    font-weight: bold;
}
