/*zerando confuguração da pag */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: red;
    font-family: 'Nosifer', sans-serif;
}

/*img de plano de fundo */
body{
    background-image: url(../img/jon-butterworth-pxhKYRe_SSw-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*configurando grid */
.container{
    display: grid;
    grid-template-areas: 'header header header'
                            '. main .'
                            'footer footer footer';                        
}

/*style menu stard*/
.menu{
    grid-area: header;
    height: 5em;
    border-bottom: 1px solid black;
    font-size: 1.2em;
    background-color: black;
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

ul{
    width: 70vw;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a{
    text-decoration: none;
    color: red;
}

nav ul a:hover{
    color: white;
}
/*style menu end */


/* style main stard */
main{
    position: relative;
    padding-top: 2em;
    grid-area: main;
    text-align: center;
    max-width: 850px;
}

main p {
    font-size: 1em;
    text-align: justify;
    text-indent: 25px;
    margin-bottom: 10px;
}

/*Produtos start */
.produtos{
    position: relative;
    font-size: 0.6em;
    max-width: 600px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
}

.imag{
    width: 180px;
    height: 200px;
    box-sizing: border-box;
}

.ordem{
    display: none;
    flex-wrap: wrap;
    max-width: 600px;
    max-height: 600px;
    border-radius: 10px;
}

.content{
    width: 200px;
    height: 200px;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.1) 10px 32px 80px 14px;
}

.conteudo{
    width: 100%;
    height: 100%;
}

.conteudo img{
    width: 80%;
    height: 80%;
}
/*Produtos end */

/*cadastro start */
.cadastro{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 20px 0 50px 0;
}

form{
    display: flex; 
    flex-direction: column;
    border: none;
    width: 100%;
}

.input-in{
    font-size: 0.5em;
    width: 100%;
    margin: 10px 0;
    position: relative;
    border-radius: 10px;
}

.input-in label{
    position: absolute;
    left: 4px;
    bottom: 5px;
    color: rgba(241, 15, 15, 0.699);
    cursor: text;
    transition: 0.5s ease-in-out;
    border-radius: 10px;
}

.input-in input{
    background-color: black;
    width: 100%;
    padding: 5px;
    border: 0;
    border-bottom: 2px solid red;
    border-radius: 10px;
    outline: 0;
    font-size: 10px;
}

.input-in input:focus, .input-in input:valid{
    border-bottom: 2px solid black;
}

.input-in input:focus ~ label, 
.input-in input:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    color: red;
}

.btn{
    margin-top: 20px;
    background-color:  rgb(131, 6, 6);
    border-radius: 10px;
    padding: 8px;
    font-size: 0.8em;
}

.btn:hover{
    cursor: pointer;
    background-color: crimson;
    color: black;
}
/*Produtos end */

/*Produtos start */
video{
    width: 900px;
    height: 600px;
}
/*Produtos end */

/* style main end */

/* style footer stard */
footer{
    top: 1200px;
    position: absolute;
    bottom: 0;
    width: 100%;
    grid-area: footer;
    background-color: black;
    height: 6em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6em;
}
/* style footer end */